{% extends 'layouts/default.twig' %}

{% block content %}
    <div class="history-container">
     <div class="history-list">
        <h1>Statistiques</h1>
         <br>
         <p>Nombre de livre : {{ books|length }} </p>
         <p>Nombre de livre en cours d'emprunt : à faire</p>
         <p>Nombre de livre disponible : à faire</p>
            <br>
         <h2>nombre d'emprunt dans chaque catégories</h2>


         <h2>nombre d'utilisateur : {{ users|length  }}</h2>
     </div>
    </div>
{% endblock %}