{% extends 'layouts/default.twig' %}

{% block content %}

    <div class="not-found">
        <h1>Erreur 404</h1>
        <p>La page demandée a été supprimée ou est introuvable.</p>
    </div>

{% endblock %}
