{% extends 'layouts/default.twig' %}

{% block content %}
    <div class="faq-container">
        <div class="faq-content">
            <h1>FAQ</h1>

            <div class="faq-questions">
                <div class="faq-question">
                    <h2>Qui a accès à la bibliothèque ?</h2>
                    <p>Les étudiants ayant fait don d’un ouvrage</p>
                </div>

                <div class="faq-question">
                    <h2>Comment faire un don ?</h2>
                    <p>Envoyer un message via le formulaire de contact en indiquant le nom du livre dont vous voulez faire don. Déposer ensuite le livre dans le casier “retour livre”.</p>
                </div>

                <div class="faq-question">
                    <h2>Comment emprunter un livre ?</h2>
                    <ul>
                        <li>Se connecter à la plateforme Bibliothétic grâce à votre adresse mail HETIC</li>
                        <li>Vérifier sa disponibilité sur la plateforme et quel livre vous souhaitez emprunter </li>
                        <li>Rapporter le livre en le déposant dans le casier “retour livres” et indiquer son retour sur la plateforme</li>
                    </ul>
                </div>

                <div class="faq-question">
                    <h2>Quelles sont les conditions d’emprunt et de consultation des ouvrages ?</h2>
                    <ul>
                        <li>Un seul livre peut-être <strong>emprunté</strong> à la fois, pour une durée de <strong>30 jours</strong>. Veuillez à bien sur le rendre <strong>dans un bon état.</strong> </li>
                        <li>Les livres peuvent être <strong>consultés</strong> dans l’enceinte de l’école. <strong>Ne partez pas de l'école avec le livre</strong> pour cela empruntez le via la plateforme.</li>
                    </ul>
                </div>
            </div>
            <p class="credit"><strong>Crédit :</strong> <a href="https://www.linkedin.com/in/luc-dandrel/" target="_blank">Luc Dandrel</a> (Back-end developper), <a href="https://www.linkedin.com/in/greeeg/" target="_blank">Grégoire Mielle</a> et <a href="https://www.linkedin.com/in/th%C3%A9o-rosel-b98811109/" target="_blank">Théo Rosel</a> (front-end developper)</p>

        </div>
    </div>
{% endblock %}
