{% extends 'layouts/blank.twig' %}

{% block content %}

    <div class="login">
        <div class="login-container">
            <div class="login-logo">
                <svg class="login-logo" viewBox="0 0 228.2 231.3">
                    <g>
                        <path d="M228.2 21c0 70.4 0 140.2 0 210.3 -70 0-139.7 0-210 0 -0.1-2.1-0.3-4.2-0.3-6.2 0-32.5-0.1-65 0.1-97.5 0-4.2-0.8-6.8-5-9C4.1 114-0.3 106.2 0 96.1c0.3-9.6 4.7-17 13.2-21.3 3.8-1.9 4.8-4.2 4.7-8.1 -0.2-13.2-0.1-26.3-0.1-39.5 0-1.8 0-3.6 0-5.9 2.5-0.1 4.4-0.3 6.3-0.3 17.7 0 35.3-0.1 53 0.1 3.7 0 5.6-0.9 6.9-4.6C87.7 5.8 96.4 0 107.7 0c11 0 20 6.1 23.5 16.7 1.2 3.7 3.1 4.4 6.5 4.4 27.8-0.1 55.6-0.1 83.5-0.1C223.3 21 225.4 21 228.2 21zM169.5 121c0 9.4 0.2 17.9-0.1 26.4 -0.1 3.8 1 5.9 4.7 7.5 11.1 4.7 16.5 15.9 14.2 28.4 -1.8 9.8-11.7 18.6-21.7 19.2 -12.4 0.8-22.9-5.8-26.5-16.8 -3.6-11 0.1-24.3 10.5-28.9 8.2-3.7 9-8.7 8.3-15.9 -0.2-1.6-0.1-3.3 0-5 0.2-3.1-1-4.5-4.3-4.4 -5.2 0.2-10.4-0.3-15.5 0.2 -2.7 0.3-5.8 1.3-7.8 3.1 -12.6 11-31 12.7-43.5 1.9 -6.1-5.3-12.1-5-18.8-5.1 -3-0.1-3.7 1.3-3.6 4 0.1 7.8 0.3 15.7-0.1 23.5 -0.2 4.5 1.1 6.6 5.5 8.3 12.1 4.6 18 17.7 14.4 30.3 -3.1 10.8-15.4 19.3-26 17.8 -12.6-1.7-21.1-9.9-23.1-22.1 -1.7-10.4 4.3-20.9 15.2-26.1 2.7-1.3 3.5-2.9 3.5-5.8 -0.1-11.5-0.1-23 0-34.5 0-1.8 0.2-3.6 0.3-6.1 6.9 0 13.4 0 19.9 0 -0.4-6.2-0.7-11.6-1-17.9 -6.6 0-13.4 0.1-20.2 0 -3-0.1-4.8 0.9-6 3.9 -2.7 6.6-7.6 11.5-14.5 13.5 -4.4 1.2-5 3.6-5 7.5 0.1 28.8 0.1 57.7 0.1 86.5 0 6.7 0 6.8 6.9 6.8 58.5 0 117 0 175.5 0 7.1 0 7.1 0 7.1-7.2 0-58.3 0-116.6 0-175 0-1.2-0.1-2.3 0-3.5 0.1-2.7-1-3.8-3.8-3.8 -26.3 0.1-52.7 0-79 0.1 -1.4 0-3.5 1.3-4.1 2.5 -3 6.8-7.9 11.3-14.6 14.3 -1.3 0.6-2.7 2.5-2.8 3.9 -0.3 7-0.2 14 0 21 0 1.2 0.9 3 1.9 3.5 2.5 1.1 5.3 1.7 8.6 2.6 0-5.3 0-10.1 0-15.5 9.2 0 17.8-0.2 26.4 0.1 3.6 0.1 5.6-0.9 7.1-4.5 5.2-12.1 18.4-17.9 30.7-13.9 11.5 3.8 18.2 14.3 17.2 26.8 -0.9 10.6-9.9 20.1-20.9 21.9 -11.2 1.9-22.9-4.4-27.1-15.1 -1.5-3.9-3.4-5.3-7.3-4.8 -1.3 0.2-2.7 0-4 0 -12.4 0-12.8 0.4-11.2 12.8 0.2 1.7 1.1 3.5 2 5 3.6 6.1 5.1 12.6 4.6 19.6 -0.2 2.8-0.5 5.5-0.8 9.1 4.9 0 9.5 0 14.2 0C159.6 121 164.2 121 169.5 121zM56.1 31.5c-7.7 0-15.3 0.2-23-0.1 -3.8-0.1-4.9 1.3-4.8 4.9 0.2 10.5 0.2 21 0 31.4 0 2.8 0.8 4.2 3.6 4.9 8.2 2.3 13.9 7.7 16.6 15.8 1 3 2.7 3.7 5.5 3.6 7.2-0.2 14.3 0.2 21.5-0.2 2-0.1 4.4-1.3 5.7-2.8 5-5.7 10.9-9.6 18-12 1.5-0.5 3.4-2.7 3.5-4.2 0.4-6.6 0.3-13.3 0-19.9 -0.1-1.5-1.6-3.7-3-4.2 -7.1-2.6-12-7.4-15.4-14.1 -0.8-1.5-3.1-2.9-4.7-3C71.7 31.4 63.9 31.5 56.1 31.5zM85.4 110c0 12.6 10.1 22.9 22.6 23 12.4 0.1 23-10.3 23-22.7 0.1-12.7-10.5-23.4-23-23.3C95.4 87.1 85.4 97.3 85.4 110zM39 96.7c0-7.9-6.5-14.3-14.3-14.1 -7.5 0.1-14 6.6-14.1 14.1 -0.1 7.4 6.8 14.4 14.3 14.4C32.7 111.1 39.1 104.6 39 96.7zM180.6 55.5c-8-0.1-14.3 6.1-14.3 14.1 0 7.8 6.5 14.5 14.2 14.4 7.2-0.1 14-6.8 14.3-14.1C195 62.2 188.4 55.5 180.6 55.5zM107.4 39.1c7.6 0.1 14.4-6.7 14.4-14.3 0-7.6-6.8-14.3-14.4-14.3 -7.5 0.1-13.9 6.5-14 14C93.3 32.3 99.8 39 107.4 39.1zM164 163.5c-7.8-0.1-14.5 6.4-14.5 14.1 0 7.5 7 14.5 14.4 14.4 7.6-0.1 13.9-6.5 14.1-14C178.2 170 171.9 163.5 164 163.5zM61.2 204.2c7.9 0 14.3-6.4 14.2-14.1 -0.1-7.5-6.4-13.9-14-14.1 -7.7-0.2-14.4 6.3-14.5 14.1C46.9 197.8 53.3 204.2 61.2 204.2z"/>
                    </g>
                </svg>
            </div>
            <div class="login-title">Bibliot<span>hétic</span></div><br><br>
            <div class="login-subtitle">
                Veuillez revenir le mercredi 26 pour le lancement de la bibliothéque
            </div>
        </div>
    </div>

{% endblock %}
